# ==========================================================================
# UZZU RAIL TRACKER - ENVIRONMENT VARIABLES CONFIGURATION
# ==========================================================================

# RailRadar Live Telemetry REST API Key
VITE_RAILRADAR_API_KEY=rg_d21b4cd5252145dd8c55ab340bb81029

# RailRadar Base API Target URL
VITE_RAILRADAR_BASE_URL=https://api.railradar.in/v1
